@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,500;0,600;0,700;1,600;1,700&family=Bricolage+Grotesque&family=Karla:ital,wght@0,500;0,600;0,700;0,800;1,800&family=Nunito:wght@600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    position: relative;
}

#main header {
    border-top: 10px solid #884EDC;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    padding: 0px 2% 0px 2%;
    height: 18vh;
    box-shadow: -2px 1px 10px 1px grey;
    position: absolute;
    top: 0.3%;
    margin-left: 1rem;
}

#main header a {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    color: black;
}

#main header #header-left {
    height: 80%;
}

#main header #header-left #kanishka {
    display: flex;
    padding: 0px;
}

#main header #header-left #kanishka #K {
    font-size: 4rem;
    margin-top: 1.3rem;
}

#main header #header-left #kanishka #anishka {
    height: fit-content;
    font-size: 2rem;
}

#main header #header-left #kanishka #K a {
    color: #4D0AA4;
}

#main header #header-left #kanishka #anishka a {
    color: black;
}

#main header #header-left #kanishka #P {
    font-size: 3.5rem;
    margin-left: -7rem;
}

#main header #header-left #kanishka #P a {
    color: black;
}

#main header #header-left #kanishka #rinter {
    height: fit-content;
    margin-top: 4.2rem;
    font-size: 2rem;
}

#main header #header-left #kanishka #rinter a {
    color: #4D0AA4;
}

/* ///////////////////////// header logo is done //////////////////////////////////// */

#main header #header-mid {
    /* border: 1px solid red; */
    width: 35%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

#main header #header-mid a.active {
    color: #4D0AA4;
}

#main header #header-right {
    /* border: 1px solid red; */
    width: 25%;
    height: 10vh;
}

#main header #header-right div {
    display: flex;
    align-items: center;
}

#main header #header-right div i {
    margin-left: 10px;
    color: #4D0AA4;
}

/* ////////////////////////////////////////// HEADER IS COMPLETED HERE /////////////////////////////////// */

#home #category {
    background-color: #eeeeee;
    color: black;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1.4%;
    margin-left: 39%;
    z-index: 100;
    width: 10vw;
    padding: 2%;
    height: 75vh;
    align-items: center;
    justify-content: space-between;
    visibility: hidden;
}


#category div {
    color: #505050;
    padding: 10%;
    width: 100%;
}

#category div:hover {
    background-color: #d7d7d7;
}



/* ///////////////////////////////// SUB CATEGORIES IS COMPLETED HERE //////////////////////////////////// */


#main #one {
    /* border: 2px solid blue; */
    width: 100%;
    height: 110vh;
    display: flex;
}

#main #one #one-left {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 0px 0px 2%;

}

#main #one #one-left div {
    line-height: 80px;
}

#main #one #one-left .one {
    font-size: 2rem;
    letter-spacing: 6px;
    font-weight: 600;
}

#main #one #one-left .two {
    font-size: 4rem;
    letter-spacing: 4px;
    font-weight: 700;
    color: #4D0AA4;
}

#main #one #one-left .three {
    width: 70%;
    line-height: 2;
    margin: 2rem 0px;
    color: #505050;
}

#main #one #one-left .read-more {
    background-color: black;
    color: white;
    height: 3rem;
    width: 12rem;
    border-radius: 50px;
    border: none;
    outline: none;
    box-shadow: -2px 1px 20px 1px grey;
}

#main #one #one-right {
    width: 50%;
    height: 100%;
    margin-left: 10rem;
    margin-top: -7rem;
    border: 1px solid red;
}

#main #one #one-right img {
    width: 100%;
    height: 100%;
    float: right;
}

/* ////////////////////////////////SECTION ONE IS COMPLETED HERE /////////////////////////////////// */

#main #two {
    /* border: 2px solid blue; */
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #F1F1F1;
}

#main #two #two-left {
    width: 50%;
}

#main #two #two-left img {
    width: 80%;
    height: 60%;
    margin: 15% 8%;
}

#main #two #two-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding-left: 5%;
}

#main #two #two-right .one {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 6px;
}

#main #two #two-right .two {
    font-size: 3rem;
    letter-spacing: 4px;
    font-weight: 600;
    color: #4D0AA4;
    line-height: 2;
}

#main #two #two-right .three {
    width: 70%;
    line-height: 2;
    margin: 2rem 0px;
    color: #505050;
    font-size: 1.1rem;
}

#main #two #two-right .read-more {
    background-color: #884EDC;
    color: white;
    height: 3rem;
    width: 12rem;
    border-radius: 50px;
    border: none;
    outline: none;
    box-shadow: -2px 1px 20px 1px grey;
    transition: all 1s;
    margin-top: 5%;
}

#main #two #two-right .read-more:hover {
    background-color: black;
}

#main #three {
    display: flex;
    flex-direction: column;
}

#main #three .one {
    /* border: 1px solid red; */
    height: 30vh;
    padding: 2rem;
}

#main #three .one h5 {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 6px;
}

#main #three .one h1 {
    font-size: 3rem;
    letter-spacing: 4px;
    font-weight: 600;
    color: #4D0AA4;
    line-height: 1;
}

#main #three .two {
    /* border: 1px solid red; */
    height: auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#main #three .two #left-video {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

#main #three .two #left-video iframe {
    padding: 5px;
    border-radius: 15px;
    margin: 10px;
    width: 700px;
    height: 315px;
}

#main #three .two #right-video {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

#main #three .two #right-video iframe {
    padding: 5px;
    border-radius: 15px;
    margin: 10px;
    width: 700px;
    height: 315px;
}

/* //////////////////////////////////////// SECTION THIRD IS ENDED HERE /////////////////////////////////// */

#main #four {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F3F3F3;
}

#main #four .one {
    height: 30vh;
    padding: 2rem;
}

#main #four .one h5 {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 6px;
}

#main #four .one h1 {
    font-size: 3rem;
    letter-spacing: 4px;
    font-weight: 600;
    color: #4D0AA4;
    line-height: 1;
}

#main #four .two {
    height: auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

#main #four .two .temp1 {
    width: 40%;
    padding: 0px 0px 5px 3rem;
    box-shadow: -1px 1px 25px 1px #E1E1E1;
    margin: 1rem;
    border-radius: 20px;
    background-color: white;
}

#main #four .two .temp1 h4 {
    color: #4D0AA4;
    font-size: 2rem;
}

#main #four .two .temp1 h6 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: -2rem;

}

#main #four .two .temp1 p {
    color: #727272;
    margin-top: -1.6rem;
}

/* //////////////////////////////// SECTION FOUR IS ENDED HERE ///////////////////////////// */

#main #five {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
}

#main #five #top {
    height: 30vh;
    padding: 2rem;
}

#main #five #top h5 {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 6px;
}

#main #five #top h1 {
    font-size: 3rem;
    letter-spacing: 4px;
    font-weight: 600;
    color: #4D0AA4;
    line-height: 1;
}

#main #five #bottom {
    height: auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

#main #five #bottom img {
    width: 30%;
    height: 50%;
}

/* //////////////////////////////// SECTION FIVE IS ENDED HERE ///////////////////////////// */

#main #six {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10%;
    gap: 3rem;
}

#main #six #left {
    width: 58%;
    display: flex;
    align-items: center;
    margin-left: 2%;
    background-color: #F3F3F3;
    padding: 2%;
}

#main #six #left .left {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#main #six #left .left .card {
    box-sizing: border-box;
    background-color: white;
    width: 87%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 5px 5px 30px 5px #F3F3F3;
}

#main #six #left .left .card img {
    width: 100%;
    height: 65%;
    border-radius: 15px 15px 0px 0px;
}

#main #six #left .left .card .circle {
    width: 25%;
    height: 12%;
    background-color: #4D0AA4;
    color: white;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    padding-top: 10%;
    position: absolute;
    top: 37%;
    left: 35%;
}

#main #six #left .left .card .para {
    margin-top: 4rem;
    word-spacing: 5px;
    font-size: 1.5rem;
    font-style: italic;
    width: 75%;
    margin-left: 2rem;
}

#main #six #left .left .author-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 2rem 0px;
}

#main #six #left .left .author-name .digs {
    width: 50px;
    background-color: #4D0AA4;
    height: 3px;
}

#main #six #left .left .author-name .name {
    color: #4D0AA4;
    font-size: 1.5rem;
    font-weight: 600;
}

#main #six #left .right {
    width: 50%;
    height: 50vh;
}

#main #six #right {
    width: 22%;
    padding: 1rem;
    margin-top: 10%;
}

#main #six #right #top h5 {
    letter-spacing: 5px;
    font-size: 1.3rem;
    font-weight: 500;
}

#main #six #right #top h1 {
    color: #4D0AA4;
    font-size: 3.5rem;
}

#main #six #right #para {
    color: #727272;
    font-size: 1.2rem;
}

/* //////////////////////////////// SECTION SIX IS ENDED HERE ///////////////////////////// */

#main #seven {
    width: 100%;
    margin-top: 10%;
}

#main #seven #logos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

/* //////////////////////////////// SECTION SEVEN IS ENDED HERE ///////////////////////////// */

#main #eight {
    width: 90%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    margin-top: -5%;
}

#main #eight #packaging {
    background-color: #6F31C4;
    height: 70%;
    width: 90%;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#main #eight #packaging p {
    letter-spacing: 5px;
    font-size: 1.2rem;
    color: #E1D0F9;
}

#main #eight #packaging h3 {
    font-size: 4rem;
    width: 40%;
    text-align: center;
}

#main #eight #packaging button {
    background-color: #FFDA33;
    border: none;
    border-radius: 20px;
    padding: 1.2rem 3rem;
    transition: all 1s;
}

#main #eight #packaging button:hover {
    background-color: black;
    color: white;
}

/* //////////////////////////////// SECTION EIGHT IS ENDED HERE ///////////////////////////// */

#main #nine {
    background-color: #F3F3F3;
    width: 96%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2%;
    align-items: center;
    justify-content: center;
}

#main #nine #top1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#main #nine #top1 p {
    width: 100%;
    color: #727272;
    margin-top: -2.5rem;
}

#main #nine #top1 #kanishka1 {
    display: flex;
    padding: 0px;
}

#main #nine #top1 #kanishka1 #K1 {
    font-size: 4rem;
    margin-top: 1.3rem;
}

#main #nine #top1 #kanishka1 #anishka1 {
    height: fit-content;
    font-size: 2rem;
}

#main #nine #top1 #kanishka1 #K1 a {
    color: #4D0AA4;
    text-decoration: none;
}

#main #nine #top1 #kanishka1 #anishka1 a {
    color: black;
    text-decoration: none;
}

#main #nine #top1 #kanishka1 #P1 {
    font-size: 3.5rem;
    margin-left: -7rem;

}

#main #nine #top1 #kanishka1 #P1 a {
    color: black;
    text-decoration: none;
}

#main #nine #top1 #kanishka1 #rinter1 {
    height: fit-content;
    margin-top: 4.2rem;
    font-size: 2rem;
}

#main #nine #top1 #kanishka1 #rinter1 a {
    color: #4D0AA4;
    text-decoration: none;
}

#main #nine #top1 #one1 {
    width: 350px;
    /* border: 1px solid red; */
}

#main #nine #top1 #two2 {
    width: 200px;
    margin-left: 1rem;
    /* border: 1px solid red; */
}

#main #nine #top1 #three3 {
    width: 300px;
    /* border: 1px solid red; */
}

#main #nine #top1 #four4 {
    width: 350px;
    /* border: 1px solid red; */
}

#main #nine #top1 h4 {
    font-weight: 500;
    font-size: 1.7rem;
}

#main #nine #top1 h6 {
    color: #727272;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

#main #nine #top1 #four4 #input {
    background-color: white;
    width: 90%;
    margin-left: 0.5rem;
    height: 5vh;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 2rem;
    padding: 0.5rem;

}

#main #nine #top1 #four4 #input #email {
    border: none;
    outline: none;
    width: 70%;
}

#main #nine #top1 #four4 #input button {
    height: 100%;
    width: 28%;
    border: none;
    background-color: #6F31C4;
    color: white;
    border-radius: 15px;
}

#main #nine #top1 .digs {
    width: 50px;
    background-color: #4D0AA4;
    height: 3px;
}

#main #nine #bottom1 {
    margin-top: 2rem;
}

/* /////////////////////////////////// HOME PAGE IS ENDED HERE ///////////////////////////////////// */

#main .about {
    margin-top: 10%;
    width: 86%;
}

#main .about h1 {
    color: #6F31C5;
    font-size: 3rem;
}

#main .about .section {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #757575;
}

#main #enquiry {
    display: flex;
    width: 86%;
    height: 5rem;
    margin-top: 2%;
    align-items: center;
}

#main #enquiry .enquiry {
    background-color: #7D41D2;
    color: white;
    border: none;
    border-radius: 3rem;
    text-align: center;
    padding: 1.5% 2.5%;
    font-size: 1.1rem;
}

/* //////////////////////////////////// ABOUT SECTION IS ENDED HERE /////////////////////////////// */


#contact #main #flex {
    display: flex;
    margin-top: 12%;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#contact #main #flex .big-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    height: 50vh;
    justify-content: center;
    padding: 0% 2%;
    text-align: center;
    line-height: 2;
    box-shadow: 1px 1px 50px 1px rgb(201, 201, 201);
    border-radius: 10px;
    transition: all 0.5s;
}

#contact #main #flex .big-box:hover,
.small-box:hover {
    background-color: #6F31C4;

    i,
    .c-para,
    .c-h1 {
        color: white;
    }
}

#contact #main #flex .small-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    height: 45vh;
    justify-content: center;
    box-shadow: 1px 1px 50px 1px rgb(201, 201, 201);
    border-radius: 10px;
}

#contact #main #flex i {
    font-size: 4rem;
    color: #4D0AA4;
}

#contact #main #flex .c-h1 {
    font-weight: 500;
    font-size: 1.6rem;
}

#contact #main #flex .c-para {
    color: #767676;
}

#contact #main #form {
    display: flex;
    width: 100%;
    margin-top: 5%;
    background-color: #F1F1F1;
}

#contact #main #form #c-left {
    width: 40%;
    padding: 2%;

    h4 {
        letter-spacing: 0.3rem;
        font-size: 1.2rem;
    }

    .form-h1 {
        font-size: 3.5rem;
        color: #4D0AA4;
        font-weight: 500;
    }

    #icons {
        display: flex;
        width: 40%;
        height: 8vh;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin: 15% 0% 0% 2%;

        .c-icon {
            box-shadow: 1px 1px 20px 1px rgb(191, 191, 191);
            height: 80%;
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #4D0AA4;
            background-color: white;
            border-radius: 50%;
        }
    }
}

#contact #main #form #c-left #icons .c-icon:hover {
    background-color: #4D0AA4;

    i {
        color: white;
    }
}

#contact #main #form #c-right {
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1%;

    #f-name,
    #f-email {
        height: 5vh;
        padding: 1%;
        border-radius: 2rem;
        width: 60%;
        border: none;
    }

    #subject {
        height: 5vh;
        padding: 1%;
        border-radius: 2rem;
        border: none;
    }

    #message {
        height: 20vh;
        padding: 1%;
        border-radius: 2rem;
        border: none;
    }

    #f-name::placeholder,
    #f-email::placeholder,
    #subject::placeholder {
        padding-left: 3%;
    }

    #message::placeholder {
        padding: 2% 0% 0% 3%;
        font-size: 1.1rem;
    }


    #mess #send-mess {
        width: 26%;
        float: right;
        height: 8vh;
        padding: 1% 5%;
        border: none;
        background-color: #4D0AA4;
        color: white;
        border-radius: 2rem;
        cursor: pointer;
        font-size: 0.9rem;
    }

    #mess #send-mess:hover {
        background-color: black;
        color: white;
    }

}


/* ////////////////////////////////////// ALL CSS IS ENDED HERE ////////////////////////////////////// */

@media screen and (min-width: 1024px) {

    #main #home header #header-mid {
        width: 45%;
    }

    #main #home #one #one-left {
        z-index: 10;
        width: 550px;
    }

    #main #home #one #one-right img {
        height: 650px;
        width: 650px;
        margin: 100px 0px 0px -200px;
    }

    #main #home #three .two #left-video {
        display: flex;
        flex-direction: row;
    }

    #main #home #three .two #left-video iframe {
        width: 400px;
    }

    #main #home #three .two #right-video {
        display: flex;
        flex-direction: row;
    }

    #main #home #three .two #right-video iframe {
        width: 400px;
    }

    #main #home #seven #logos img{
        width: 150px;
    }

}


@media screen and (max-width: 1024px) and (min-width: 881px) {
    #main #home header #header-right{
        display: none;
    }

    #main #home header #header-mid {
        width: 55%;
    }
    
    #main #home #one {
        display: none;
    }

    #main #home #two{
        margin-top: 20%;
    }

    #main #home #two #two-left img{
        width: 300px;
        height: 400px;
        margin-top: 40%;
    }

    #main #home #two #two-right .one{
        font-size: 1rem;
    }

    #main #home #two #two-right .two{
        font-size: 2rem;
    }

    #main #home #three .two #left-video {
        display: flex;
        flex-direction: row;
    }

    #main #home #three .one h1{
        font-size: 2.5rem;
    }

    #main #home #three .two #left-video iframe {
        width: 400px;
    }

    #main #home #three .two #right-video {
        display: flex;
        flex-direction: row;
    }

    #main #home #three .two #right-video iframe {
        width: 400px;
    }

    #main #home #four .one h1{
        font-size: 2.5rem;
    }

    #main #home #four .two .temp1 h4{
        font-size: 1.5rem;
    }

    #main #home #four .two .temp1 h6{
        font-size: 1.2rem;
    }

    #main #home #five #top h1{
        font-size: 2.5rem;
    }

    #main #home #six .left .card .circle{
        margin-top: -25px;
        width: 70px;
        height: 50px;
        font-size: 3rem;
    }

    #main #home #six .left .card .para{
        font-size: 1rem;
    }

    #main #home #six .left .author-name .digs{
        width: 20px;
    }

    #main #home #six .left .author-name .name{
        font-size: 1.2rem;
    }

    #main #home #six #right h1{
        font-size: 2.5rem;
    }

    #main #home #seven #logos img{
        width: 150px;
    }

    #main #home #eight #packaging h3{
        font-size: 2.5rem;
    }

    #main #home #nine #top1 #four4 #input button{
        font-size: 0.5rem;
    }

    #main #home #nine #top1 #four4 #input #email::placeholder{
        font-size: 0.6rem;
    }

}

@media only screen and (max-width: 881px){

    
    #main #home{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        align-items: center;
        justify-content: center;
        border: 1px solid blue;
    }
    
    #main #home header{
        width: 90%;
        display: flex;
        align-self: center;
    }

    #main #home header #header-left #kanishka {
        position: relative;
        width: 200px;
    }

    #main #home header #header-left #kanishka #K a{
        font-size: 2.5rem;
        margin-left: 10px;
        margin-top: 0px;
        position: absolute;
    }

    #main #home header #header-left #kanishka #anishka{
        font-size: 1.1rem;
        margin-top: 25px;
        margin-left: 40px;
        position: absolute;
    }

    #main #home header #header-left #kanishka #P a{
        font-size: 2.5rem;
        margin-left: 150px;
        margin-top: -10px;
        position: absolute;
        z-index: 20;
    }

    #main #home header #header-left #kanishka #rinter{
        font-size: 1.1rem;
        margin-top: 45px;
        margin-left: 65px;
        position: absolute;
    }

    #main #home header #header-right{
        display: none;
    }

    #main #home header #header-mid {
        width: 55%;
        font-size: 0.8rem;
    }
    
    #main #home #one {
        display: none;
    }

    #main #home #two{
        margin-top: 20%;
        width: 100%;
    }

    #main #home #two #two-left img{
        width: 300px;
        height: 400px;
        margin-top: 40%;
    }

    #main #home #two #two-right .one{
        font-size: 1rem;
    }

    #main #home #two #two-right .two{
        font-size: 2rem;
    }

    #main #home #two #two-right .three{
        font-size: 0.8rem;
    }

    #main #home #two #two-right .read-more{
        font-size: 0.6rem;
        width: 100px;
        height: 40px;
    }

    #main #home #three{
        width: 100%;
    }

    #main #home #three .two #left-video {
        display: flex;
        flex-direction: row;
    }

    #main #home #three .one h1{
        font-size: 2.3rem;
    }

    #main #home #three .two #left-video iframe {
        width: 300px;
        height: 200px;
    }

    #main #home #three .two #right-video {
        display: flex;
        flex-direction: row;
    }

    #main #home #three .two #right-video iframe {
        width: 300px;
        height: 200px;
    }

    #main #home #four .one h1{
        font-size: 2.3rem;
    }

    #main #home #four .two{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    #main #home #four .two .temp1{
        width: 40%;
    }

    #main #home #four .two .temp1 h4{
        font-size: 1.3rem;
    }

    #main #home #four .two .temp1 h6{
        font-size: 1rem;
        margin-top: -20px;
    }

    #main #home #four .two .temp1 p{
        font-size: 0.8rem;
    }

    #main #home #five #top h1{
        font-size: 2.3rem;
    }

    #main #home #six .left .card .circle{
        margin-top: -25px;
        width: 70px;
        height: 50px;
        font-size: 3rem;
    }

    #main #home #six .left .card .para{
        font-size: 1rem;
    }

    #main #home #six .left .author-name .digs{
        width: 20px;
    }

    #main #home #six .left .author-name .name{
        font-size: 1rem;
    }

    #main #home #six #right h1{
        font-size: 2.2rem;
    }

    #main #home #seven #logos img{
        width: 100px;
    }

    #main #home #eight #packaging h3{
        font-size: 2.3rem;
    }

    #main #home #nine #top1 #four4 #input button{
        font-size: 0.4rem;
    }

    #main #home #nine #top1 #four4 #input #email::placeholder{
        font-size: 0.6rem;
    }
}